#a) Look for the missing values in all the columns and either impute them (replace with mean,median, or mode) or drop them. Justify your action for this task.

In [1]:
import pandas as pd
import numpy as np
#loading the dataset
df = pd.read_csv("/content/train.csv")
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [3]:
missing_cols = ['Mileage', 'Engine', 'Power', 'Seats']

# Filling missing values
for col in missing_cols:
    if df[col].dtype == 'object':
        df[col] = df[col].fillna(df[col].mode()[0])
    else:
        df[col] = df[col].fillna(df[col].mean())

# Dropping 'New_Price' due to excessive missing data
if 'New_Price' in df.columns:
    df = df.drop(columns=['New_Price'])

print("Missing values handled successfully.")

Missing values handled successfully.

In [10]:
print("Missing values:", df.isnull().sum())

Missing values: Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [11]:
from google.colab import files
df.to_csv('data_cleaned_train_A.csv', index=False)
files.download('data_cleaned_train_A.csv')

#b) Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).

In [13]:
df1 = pd.read_csv("/content/data_cleaned_train_A.csv")
df1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [14]:
# List of columns with units
cols_to_clean = ['Mileage', 'Engine', 'Power']

# Loop through each column and remove units
for col in cols_to_clean:
    df1[col] = df1[col].astype(str).str.split().str[0].astype(float)

In [16]:
df1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [17]:
from google.colab import files
df1.to_csv('data_cleaned_train_B.csv', index=False)
files.download('data_cleaned_train_B.csv')

#C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [25]:
df2 = pd.read_csv("/content/data_cleaned_train_B.csv")
df2

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,71.00,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,112.00,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,2.50

In [26]:
# converting values to 0 and 1
df2['Transmission'] = df2['Transmission'].str.strip()
df2['Fuel_Type'] = df2['Fuel_Type'].str.strip()

df2['Transmission'] = df2['Transmission'].replace({'Automatic': 0, 'Manual': 1})
df2['Fuel_Type'] = df2['Fuel_Type'].replace({'Petrol': 0, 'Diesel': 1});

<ipython-input-26-e018a7b3848a>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['Transmission'] = df2['Transmission'].replace({'Automatic': 0, 'Manual': 1})

In [27]:
df2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1,1,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,0,1,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1,1,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,1,0,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1,1,First,23.08,1461.0,63.10,5.0,3.50

In [30]:
from google.colab import files
df2.to_csv('data_cleaned_train_C.csv', index=False)
files.download('data_cleaned_train_C.csv')

#d) Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.

In [31]:
df3 = pd.read_csv("/content/data_cleaned_train_C.csv")
df3

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1,1,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,0,1,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1,1,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,1,0,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1,1,First,23.08,1461.0,63.10,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,1,1,First,28.40,1248.0,74.00,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,1,1,First,24.40,1120.0,71.00,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,1,1,Second,14.00,2498.0,112.00,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,0,1,First,18.90,998.0,67.10,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,1,1,First,25.44,936.0,57.60,5.0,2.50

In [32]:
from datetime import datetime

df3['Car_Age'] = datetime.now().year - df3['Year']
print(df3[['Year', 'Car_Age']].head())

   Year  Car_Age
0  2015       10
1  2011       14
2  2012       13
3  2013       12
4  2013       12

In [33]:
df3.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1,1,First,19.67,1582.0,126.20,5.0,12.50,10
1,2,Honda Jazz V,Chennai,2011,46000,0,1,First,13.00,1199.0,88.70,5.0,4.50,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1,1,First,20.77,1248.0,88.76,7.0,6.00,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,1,0,Second,15.20,1968.0,140.80,5.0,17.74,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1,1,First,23.08,1461.0,63.10,5.0,3.50,12

In [34]:
from google.colab import files
df3.to_csv('data_cleaned_train_D.csv', index=False)
files.download('data_cleaned_train_D.csv')

#e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset.

In [35]:
df4 = pd.read_csv("/content/data_cleaned_train_D.csv")
df4

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1,1,First,19.67,1582.0,126.20,5.0,12.50,10
1,2,Honda Jazz V,Chennai,2011,46000,0,1,First,13.00,1199.0,88.70,5.0,4.50,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1,1,First,20.77,1248.0,88.76,7.0,6.00,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,1,0,Second,15.20,1968.0,140.80,5.0,17.74,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1,1,First,23.08,1461.0,63.10,5.0,3.50,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,1,1,First,28.40,1248.0,74.00,5.0,4.75,11
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,1,1,First,24.40,1120.0,71.00,5.0,4.00,10
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,1,1,Second,14.00,2498.0,112.00,8.0,2.90,13
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,0,1,First,18.90,998.0,67.10,5.0,2.65,12
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,1,1,First,25.44,936.0,57.60,5.0,2.50,14

In [37]:
# Selecting important columns
selected = df4[['Name', 'Year', 'Fuel_Type', 'Transmission', 'Price']]

# Filtering cars newer than 2015
filtered = df4[df4['Year'] > 2015]

# Renaming columns
renamed = df4.rename(columns={'Mileage': 'Fuel_Efficiency', 'Power': 'Engine_Power'})

# Adding new column for car age
df4['Age'] = 2024 - df4['Year']  # Replace with datetime.now().year if needed

# Sorting by price (highest first)
sorted_by_price = df4.sort_values(by='Price', ascending=False)

# Group by Fuel_Type to get mean price
fuel_mean = df4.groupby('Fuel_Type')['Price'].mean()

# Group by Fuel_Type to get mean, min, max
fuel_stats = df4.groupby('Fuel_Type').agg({'Price': ['mean', 'min', 'max']})

# Print outputs
print("Selected Columns:\n", selected.head())
print("\nFiltered Data (Year > 2015):\n", filtered.head())
print("\nRenamed Columns:\n", renamed.head())
print("\nNew Column 'Age':\n", df4[['Name', 'Year', 'Age']].head())
print("\nSorted by Price:\n", sorted_by_price.head())
print("\nSummary Statistics (Mean Price by Fuel Type):\n", fuel_mean)
print("\nSummary Statistics (Complex):\n", fuel_stats)

Selected Columns:
                                Name  Year Fuel_Type  Transmission  Price
0  Hyundai Creta 1.6 CRDi SX Option  2015         1             1  12.50
1                      Honda Jazz V  2011         0             1   4.50
2                 Maruti Ertiga VDI  2012         1             1   6.00
3   Audi A4 New 2.0 TDI Multitronic  2013         1             0  17.74
4            Nissan Micra Diesel XV  2013         1             1   3.50

Filtered Data (Year > 2015):
     Unnamed: 0                               Name Location  Year  \
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
8           10                   Maruti Ciaz Zeta    Kochi  2018
14          16              Honda Amaze S i-Dtech    Kochi  2016
15          17              Maruti Swift DDiS VDI   Jaipur  2017
26          28                Honda WRV i-VTEC VX    Kochi  2018

    Kilometers_Driven Fuel_Type  Transmission Owner_Type  Mileage  Engine  \
5               36000         1             0      First    11.36  2755.0
8               25692         0             1      First    21.56  1462.0
14              58950         1             1      First    25.80  1498.0
15              25000         1             1      First    28.40  1248.0
26              37430         0             1      First    17.50  1199.0

     Power  Seats  Price  Car_Age  Age
5   171.50    8.0  17.50        9    8
8   103.25    5.0   9.95        7    6
14   98.60    5.0   5.40        9    8
15   74.00    5.0   5.99        8    7
26   88.70    5.0   9.90        7    6

Renamed Columns:
    Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type  Transmission Owner_Type  Fuel_Efficiency  \
0              41000         1             1      First            19.67
1              46000         0             1      First            13.00
2              87000         1             1      First            20.77
3              40670         1             0     Second            15.20
4              86999         1             1      First            23.08

   Engine  Engine_Power  Seats  Price  Car_Age  Age
0  1582.0        126.20    5.0  12.50       10    9
1  1199.0         88.70    5.0   4.50       14   13
2  1248.0         88.76    7.0   6.00       13   12
3  1968.0        140.80    5.0  17.74       12   11
4  1461.0         63.10    5.0   3.50       12   11

New Column 'Age':
                                Name  Year  Age
0  Hyundai Creta 1.6 CRDi SX Option  2015    9
1                      Honda Jazz V  2011   13
2                 Maruti Ertiga VDI  2012   12
3   Audi A4 New 2.0 TDI Multitronic  2013   11
4            Nissan Micra Diesel XV  2013   11

Sorted by Price:
       Unnamed: 0                                         Name    Location  \
3952        4079  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad
5620        5781                   Lamborghini Gallardo Coupe       Delhi
5752        5919                       Jaguar F Type 5.0 V8 S   Hyderabad
1457        1505              Land Rover Range Rover Sport SE       Kochi
1917        1974                           BMW 7 Series 740Li  Coimbatore

      Year  Kilometers_Driven Fuel_Type  Transmission Owner_Type  Mileage  \
3952  2017              25000         1             0      First    13.33
5620  2011               6500         0             0      Third     6.40
5752  2015               8000         0             0      First    12.50
1457  2019              26013         1             0      First    12.65
1917  2018              28060         0             0      First    12.05

      Engine  Power  Seats   Price  Car_Age  Age
3952  2993.0  255.0    5.0  160.00        8    7
5620  5204.0  560.0    2.0  120.00       14   13
5752  5000.0  488.1    2.0  100.00       10    9
1457  2993.0  255.0    5.0   97.07        6    5
1917  2979.0  320.0    5.0   93.67        7    6

Summary Statistics (Mean Price by Fuel Type):
 Fuel_Type
0            5.756688
1           12.960686
Electric    12.875000
Name: Price, dtype: float64

Summary Statistics (Complex):
                Price
                mean    min    max
Fuel_Type
0           5.756688   0.44  120.0
1          12.960686   0.60  160.0
Electric   12.875000  12.75   13.0

In [38]:
df4.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age,Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1,1,First,19.67,1582.0,126.20,5.0,12.50,10,9
1,2,Honda Jazz V,Chennai,2011,46000,0,1,First,13.00,1199.0,88.70,5.0,4.50,14,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1,1,First,20.77,1248.0,88.76,7.0,6.00,13,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,1,0,Second,15.20,1968.0,140.80,5.0,17.74,12,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1,1,First,23.08,1461.0,63.10,5.0,3.50,12,11

In [40]:
from google.colab import files
df4.to_csv('data_cleaned_train_E.csv', index=False)
files.download('data_cleaned_train_E.csv')

In [43]:
import os
os.makedirs('results', exist_ok=True)
sections = {
    "Selected Columns:": selected.head(),
    "Filtered Data (Year > 2015):": filtered.head(),
    "Renamed Columns:": renamed.head(),
    "New Column 'Age':": df4[['Name', 'Year', 'Age']].head(),
    "Sorted by Price:": sorted_by_price.head(),
    "Summary Statistics (Mean Price by Fuel Type):": fuel_mean,
    "Summary Statistics (Complex):": fuel_stats
}

# Writing each section to the file
with open('results/results.txt', 'w') as f:
    for title, data in sections.items():
        f.write(f"{title}\n")
        f.write(data.to_string())
        f.write("\n\n")